<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
</head>
<body id="page-top">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}">
<form method="post" action="">
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">초기화면</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'signup' %}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'login' %}">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="mb-4">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" name="email" id="email">
        </div>
        <div class="mb-4">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" name="password1" id="password1">
        </div>
        <button class="btn-outline-primary btn-sm" type="submit">login</button>
    </div>
</form>
</body>
</html>